/* COLOR*/

:root {
  --white: #fff;
  --grey: #e2e9ec;
  --light-primary: #a29bfe;
  --dark-primary: #7a5df0;
  --hover-primary: #8f74ff;
  --light-yellow: #ffffff;
  --yellow: #faff0b;
  --light-black: #201f2b;
  --black: #030303;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lexend", sans-serif;
  background: radial-gradient(at bottom right, #a29bfe, #201f2b, #030303);
  background-repeat: no-repeat repeat;
}

.hero-section {
}

.bg-hero {
  background: radial-gradient(at bottom right, #a29bfe, #201f2b, #030303);
  background-repeat: no-repeat repeat;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.2rem;
  margin-bottom: 3.2rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-bej {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.3rem 2.9rem;
  border: 3px solid #fff;
  border-radius: 0.8rem;
  font-weight: 600;
  margin-right: 3.2rem;
  text-align: center;
  letter-spacing: 0.1rem;

  transition: all 0.3s ease;
}

.btn-bej:hover {
  display: inline-block;
  color: var(--light-black);

  border: 3px solid var(--grey);
  background-color: var(--grey);

  letter-spacing: 0.1rem;
  cursor: pointer;
}

.btn-reg {
  display: inline-block;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.6rem 4rem;
  background-color: var(--dark-primary);
  border-radius: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: all 0.3s ease;
}

.btn-reg:hover {
  display: inline-block;
  color: #fff;
  background-color: var(--hover-primary);

  cursor: pointer;
}

.hero-container {
  display: grid;

  grid-template-columns: 45fr 55fr;

  max-width: 200rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  align-items: center;
}

.ingyenes {
  font-family: "Segoe UI", sans-serif;
  font-size: 2.4rem;
  color: var(--light-primary);
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.header1 {
  font-family: "Lexend", sans-serif;
  font-size: 6.4rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 3.2rem;
  line-height: 1.2;
}
.sub-header {
  font-family: "Lexend", sans-serif;
  font-size: 2.4rem;
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 4.8rem;
}

.hero {
}

.bal-hero-container {
  padding-left: 18rem;
  align-self: center;
}
.jobb-hero-container {
  display: grid;
  align-self: center;
  justify-self: center;
  /* padding-right: 8rem; */
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 2.4rem;
}

.x-img {
  padding-top: 3.2rem;
  width: 100%;
  height: auto;
}

.l-container {
  max-width: 180rem;
  padding: 9.6rem 3.2rem;
  margin: 0 auto;
}

.logok-container {
  display: flex;
  justify-content: space-around;
}

.logo-img {
  align-self: center;
  justify-self: center;
  height: 100%;
  width: auto;
}

/* .die {
  width: 12.8%;
} */

.elso-container {
  position: relative;
  margin-bottom: 32rem;
}

.elso-img {
  height: 50%;
  height: 50%;
}

.jw-container {
  height: 50%;
  height: 50%;
}

.jw-img {
  display: block;
  height: auto;
  width: 100%;
}

.kettes-h-container {
  position: absolute;
  top: 25%;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 5.6rem;
  color: var(--white);
  padding-left: 11.2rem;
}

.kettes-h {
  margin-bottom: 3.2rem;
}

.sarga {
  color: var(--yellow);
}

.h2-description {
  font-size: 3.2rem;
  color: var(--white);
  line-height: 1.3;
}

.f-bold {
  color: var(--white);
  font-weight: 500;
}

.plakatok {
  /* position: absolute;
  display: flex;
  width: 100%;
  height: auto;
  padding: 9.6rem 0;
  bottom: 0;
  transform: translateY(50%); 

  justify-content: space-around;
  align-items: center; */
}

.img-plakat {
  /* max-width: 100%;
  height: 100%;
  border-radius: 1.2rem; */
}

.plakatok {
  position: absolute;
  display: flex;
  justify-content: space-around; /* Horizontal spacing between images */
  align-items: center; /* Vertical alignment of images */
  bottom: 0;
  transform: translateY(30%);

  /* Add any styling you need for the poster container */
}

.poster-img {
  padding: 1.6rem; /* Add spacing around each image */
  /* Add any styling you need for the individual images */
}

.poster-img img {
  max-width: 100%; /* Ensure images don't exceed their container */
  height: auto;
  /* Add any styling you need for the images themselves */
  border-radius: 1rem;
}

/* Apply additional margin to the first and last poster-img elements */
.poster-img:first-child {
  margin-left: 10rem; /* Adjust as needed */
}

.poster-img:last-child {
  margin-right: 10rem; /* Adjust as needed */
}
.masodik-container {
  background: radial-gradient(at bott left, #a29bfe, #201f2b, #030303);
}

.masodik-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;

  max-width: 100vw;

  margin: 0 4rem 11.2rem 4rem;
}

.eszkozok-img-container {
  display: grid;
  gap: 8rem;
}

.eszkozok-img {
  height: auto;
  width: 70%;

  align-self: center;
  justify-self: center;
}

.eszkozok-img-container2 {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 16rem;
}

.eszkozok-img2 {
  display: block;
  height: 100%;
  width: 100%;
}

.eszkozok-txt-container1 {
  padding: 8rem 8rem 8rem 0rem;
}
.eszkozok-txt-container2 {
  padding: 8rem 0rem 8rem 8rem;
}
.h3 {
  font-family: "Lexend", sans-serif;
  font-size: 6.4rem;
  color: var(--white);
  font-weight: 700;
  margin-bottom: 3.2rem;
}
.h3-sub {
  font-family: "Lexend", sans-serif;
  font-size: 2.4rem;
  color: var(--grey);
  font-weight: 400;
  margin-bottom: 4.8rem;
  line-height: 1.4;
}

.container {
  font-family: inherit;
  margin: 0 auto;
  padding: 8rem;
  max-width: 64vw;
  background: var(--light-black);
  color: #fff;
  border-radius: 1.6rem;

  margin-bottom: 6.4rem;
}

.FAQ-H {
  padding-bottom: 6.4rem;
  font-size: 4.8rem;
  text-align: center;
}

.accordion .accordion-item {
  /* padding-bottom: 0.8rem; */
  border-bottom: 1px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded="true"] {
  border-bottom: 1px solid var(--light-primary);
}
.accordion button {
  font-family: "Lexend", sans-serif;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 3rem 0;
  /* padding: 1em 0; */
  color: #fff;
  font-size: 2.4rem;
  font-weight: 600;
  border: none;
  background: none;
  outline: none;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: var(--light-primary);
  /* background-color: #4a477267; */
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: var(--light-primary);
  border: 1px solid var(--light-primary);
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0rem;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 0;
  width: 32px;
  height: 22px;
  /* border: 1px solid;
  border-radius: 22px; */
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 14px;
  left: 6px;
  width: 16px;
  height: 4px;
  background: currentColor;
  border-radius: 1px;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 8px;
  left: 12px;
  width: 4px;
  height: 16px;
  background: currentColor;
  border-radius: 1px;
}
.accordion button[aria-expanded="true"] {
  color: var(--light-primary);
}
.accordion button[aria-expanded="true"] .icon::after {
  width: 0;
}
.accordion button[aria-expanded="true"] + .accordion-content {
  opacity: 1;
  max-height: 16rem;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 2.4rem;
  font-weight: 300;
  margin: 2.4rem 0 4.8rem 0;
}
